@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto sans', sans-serif;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
  }
  body {
    height: 100vh;
    display: flex;
    height: -webkit-fill-available;
    overscroll-behavior: none;
  }
  /* Hide Arrows for input type number */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  h1, h2, h3, h4 {
    @apply font-semibold font-headers;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl
  }
  p {
    @apply font-medium text-secondary-800
  }
}

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-primary-600 to-primary-200 bg-clip-text
}

/* Scroll Bar Style */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-secondary-400;
}

::-webkit-scrollbar-thumb {
  border-radius: 99px;
  @apply bg-secondary-600 shadow-custom;
}

/* Clear the "X" from Chrome on input type search */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Clear autofill style */
input:-webkit-autofill {
  @apply font-texts;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Remove the blue background on click - Mobile */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}